
@font-face {
	font-family: "LGC";
	src: url(../FONT/Louis\ George\ Cafe.ttf);
}

@font-face {
	font-family: "LGC Bold";
	src: url(../FONT/Louis\ George\ Cafe\ Bold.ttf);

}

@font-face {
	font-family: "JAI";
	src: url(../FONT/JAi_____.TTF);
}

@font-face {
	font-family: "POINT";
	src: url(../FONT/pointfree.ttf);
}